#Virtual Environment
venv/
ENV/

#Environment Variables (Keep API keys secret) (File was removed after switching from AlphaVantage API to yfinance)
.env

#Python Cache
__pycache__/
*.py[cod]
*$py.class

#IDE Configuration
.vscode/
.idea/